@font-face {
    font-family: 'KG';
    src: url('../fonts/kgdoyouloveme.woff2') format('woff2'),
         url('../fonts/kgdoyouloveme.woff') format('woff'),
         url('../fonts/kgdoyouloveme.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/dancingscript.woff2') format('woff2'),
         url('../fonts/dancingscript.woff') format('woff'),
         url('../fonts/dancingscript.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather-light.woff2') format('woff2'),
         url('../fonts/merriweather-light.woff') format('woff'),
         url('../fonts/merriweather-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather-bold.woff2') format('woff2'),
         url('../fonts/merriweather-bold.woff') format('woff'),
         url('../fonts/merriweather-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



/********** MAIN **********/

	h1, h2 {	
		font-family: "Dancing Script", cursive;
	}
	h3, h4, h5, h6 {
		font-family: "Merriweather", serif;
    font-weight: 700;
	}

  h4.zeit {
    color: #7F0624;
    margin-bottom: 0.5rem;
  }

	p {
		font-size: 1.1rem;
	}
	p.hinweis {
		margin: -6rem 0 8rem 0;
	}


/********** NAVIGATION **********/

	#nav > ul > li a, #nav > ul > li span {
		font-size: 1rem;
	}
	#nav > ul > li.current a, 
	#nav > ul > li.current span {
		background-color: rgba(255, 255, 255, 0.15);
	}



/********** HEADER **********/

	#header .logo {	
		font-family: "Dancing Script", cursive;
		font-size: 1.5rem;
	}

	#banner {
		background-image: linear-gradient(90deg, rgba(58, 58, 58, 0.6), rgba(58, 58, 58, 0.6)), url("../../images/simply-yoga-esslingen-studio-2.jpg");
		padding: 8rem 0 5rem 0;
		min-height: 75vh;
	}

  

/********** IMAGES **********/

  .image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }



/********** TABLES **********/

	.table-scrollable {
		width: 100%;
		overflow-y: auto;
	}

	table {
		margin: 0 0 8rem 0;
	}
	table thead tr td {
		font-weight: bold;
		text-align: center;
	}
	table tbody tr:nth-child(2n+1) {
		background: none;
	}

	table.alt {
		margin: 0 0 2rem 0;
	}
	table.alt tbody tr:nth-child(2n + 1) {
		background: none;
	}
	table.alt tbody tr:nth-child(2n + 1) td {
		background-color: rgba(227,139,13,0.10);
	}
	table.alt tbody tr td {
		text-align: center;
		width: 16%;
		min-width: 150px;
		line-height: 1.5em;
	}
	table.alt tbody tr td:first-child {
		border-radius: 10px 0 0 10px;
	}
	table.alt tbody tr td:last-child {
		border-radius:  0 10px 10px 0;
	}
	table.alt tbody tr td span {
		margin-bottom: 10px;
		display: inline-block;
	}
	table.alt tbody tr td span.zeit {
		color: #1A9DD9;
	}
	table.alt tbody tr td span.kursname {
		font-weight: bold;
		color: #7F0624;
	}
	table.alt tbody tr td span.gruen {
		font-weight: bold;
		color: #95C11F;
	}
	table.alt tbody tr td span.rot {
		font-weight: bold;
		color: #D7251C;
	}



/********** FORM **********/

	.success {
		font-size: 1.5rem;
    font-weight: bolder;
		color: #35A700;
		border-color: #35A700;
		text-align: center;
	}
	.error {
		font-size: 1rem;
    font-weight: bolder;
		color: #E40003;
		border-color: #E40003;
    text-align: center;  
	}

	ul.actions {
		justify-content: space-around;
		margin-left: 0;
	}

    ul.actions li {
      padding: 0;
    }

  ul.kursactions {
    justify-content: flex-start;
    align-items: center;
  }

    ul.kursactions li {
      margin-left: 1rem;
    }

    ul.kursactions li .teamBild {
      margin-right: 0;
    }

  ul.status {
    justify-content: flex-start;
    align-items: center;
    margin-top: -1rem;
  }

    ul.status li {
      margin-right: 1rem;
    }    
    
    ul.status li .fa-user-times,
    ul.status li .fa-user-times::before {
      color: #D7251C;
    }

    ul.status li .fa-check,
    ul.status li .fa-check::before {
      color:#1A9DD9;
    }

    ul.status li .fa-ban,
    ul.status li .fa-ban::before {
      color:#3a3a3a;
      opacity: 0.5;
    }

    ul.status li .fa-user-plus,
    ul.status li .fa-user-plus::before {
      color: #95C11F;
    }



	.row {
		justify-content: space-around;
	}



/********** CONTENT **********/

	.features > ul {
		flex: 1 1 30%;
	}
	.features.alt > ul > li {
		text-align: center;
	}

	.spotlights section {
		margin-top: 3rem;
	}

	.accordion {
		text-align: center;
	}

	.hidden {
		padding-top: 3rem;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s ease-out;
	}

	#toTop {
		position: fixed;
		bottom: 25px;
		right: 25px;
		display: none;
		z-index: 1;
	}
	#toTop a::before {
		margin: 0 !important;
	}

	img.workshop {
		max-width: 750px;
		margin: 0 auto;
	}

	.row.box {
		padding: 1.5rem 0 1.5rem 0;
    background-color: #F5ECE3;
	}

  .slider img {
    border-radius: 5px;
  }

  .slider-nav {
    margin-top: 3rem;
  }

  .slider-nav img {
    border-radius: 5px;
    margin-right: 1.5rem;
  }



  .faq-list,
  .faq-list li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .faq-list ul {
    margin-left: 0;
  }

  .faq-list li {
    border: none;
    border-radius: 3px;
    background: #FFFBF8;
    margin-bottom: 15px;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -ms-transition:     all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
    transition:         all 0.3s ease-in-out;

    -webkit-box-shadow: 0px 3px 10px 0px rgba(38,50,56,0.15);	
    -moz-box-shadow: 0px 3px 10px 0px rgba(38,50,56,0.15);
    box-shadow: 0px 3px 10px 0px rgba(38,50,56,0.15);
  }

  .faq-list li:hover {
    -webkit-box-shadow: 0px 5px 30px 0px rgba(38,50,56,0.15);	
    -moz-box-shadow: 0px 5px 30px 0px rgba(38,50,56,0.15);	
    box-shadow: 0px 5px 30px 0px rgba(38,50,56,0.15);	
  }

  .faq-list li .question {
    background: #F5ECE3;
    display: block;
    font-weight: 500;
    border: none;
    padding: 25px 35px 22px 60px;
    position: relative;
  }

  .faq-list li .question.on {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #263238;
  }

  .faq-list li .question:before {
    content: "\f128";
    font-family: "FontAwesome";
    color: #7F0624;
    left: 25px;
    margin-right: 10px;
    position: absolute;
    top: 26px;
  }

  .faq-list li .question.on:before {
    content: "\f12a";
    font-family: "FontAwesome";
  }

  .faq-list li .answer {
    border-top: 1px solid #ECEFF1;
    display: none;
    font-size: 16px;
    padding: 25px 35px 25px;
  }

  .kursplanTag .kursplanKurs:last-child {
    margin-bottom: 5rem;
  }

  .kursplanTag h3 {
    font-weight: 300;
  }

  .box.mehr {
    background-color: #292828;
  }

    .box.mehr h3 {
      color: #FFFBF8;
    }

  .kursplanKurs {
    margin: 0 1.5rem 1.5rem 1.5rem;
    background-color: #F5ECE3;
  }

  .kursplan .detail {
    display: none;
  }
  
  .kurs {
    margin-bottom: 5rem;
  }

  .teamBild {
    border: none;
    margin-right: 1rem;
    display: inline-block;
    height: auto;
  }

  .teamBild img {
    border-radius: 50%;
    vertical-align: middle;
  }


  .kursplan-preview {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    overflow: auto;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    margin-bottom: 5rem;
    padding: 1rem;
    background-color: #F5ECE3;
  }

    .kursplan-preview > div {
      flex: 1 0 calc((100% - 4rem)/5);
      width: 0;
      border-right: solid 1px;
      border-color: rgba(0, 0, 0, 0.125);
      margin-right: 1rem;
    }

      .kursplan-preview > div:last-of-type {
        border-right: none;
        margin-right: 0;
      }

    .kursplan-preview ul {
      padding: 0;
    }

      .kursplan-preview ul li {
        list-style-type: none;            
        margin-bottom: 0.75rem;
        line-height: 1.5;
      }

      .kursplan-preview ul li span {
        color: #7F0624;
        font-weight: bold;
      }
    
    .kursplan-preview a {
      color: #292828;
    }


  .team-teaser .image {
    margin: 0 0 0.5rem 0;
  }

    .team-teaser .image img {
      border-radius: 100%;
      max-width: 80%;
      margin: 0 auto;
    }

    .team-teaser .team-name {
      font-family: "Dancing Script", cursive;
      color: #292828;
      display: block;
      text-align: center;
      margin-bottom: 2rem;      
      font-size: 1.75em;
      line-height: 1;
    }


/********** RESPONSIVE **********/

	@media screen and (max-width: 1280px) {
		.features > ul {
			flex: 1 1 50%;
		}
	}

	@media screen and (max-width: 900px) {
		.table-scrollable {
			box-shadow: -10px 0 5px -10px #292828 inset;
		}

    .kursplan-preview {
      display: none;
      flex-direction: column;
    }

      .kursplan-preview > div {
        flex-basis: 100%;
        width: 100%;
        border: none;
      }
	}

	@media screen and (max-width: 736px) {

		.image.left,
		.image.right {
			display: block;
			float: none;
			margin: 0 auto 2rem auto;
			max-width: 400px;
		}    

    .team-teaser .image img {
      max-width: 80%;
    }

    .team-teaser .team-name {
      font-size: 1.35em;
    }

	}

	@media screen and (max-width: 480px) {
		#banner br,
		header.major p br {
			display: block;
		}
		.features > ul {
			flex: 1 1 100%;
		}

    .kursplanKurs {
      margin: 0 auto 1.5rem auto;
    }

    ul.actions.status {
      flex-direction: row;
    }

    ul.actions.status li {
      padding: 0;
    }

	}