
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 223, 223);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    text-align: center;
    margin: 16.1px;
}

.center{
    text-align: center;
}

nav{
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;  
    box-shadow: 0px 15px 10px -15px rgb(97, 97, 97);    
}

.logo{
    color: rgb(143, 141, 141);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: larger;
      
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links a{
    color: rgb(143, 141, 141);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover{
   color: rgb(187, 187, 187); 
font-weight: lighter;
}
.nav-links a::before{
    content: '';
    display: block;
    height: 3px;
    background-color: rgb(175, 175, 175);

    position: center   ;
    width: 0%;

    transition: all ease-in 161ms;
    /* Goldener Schnitt */

}

.nav-links a:hover::before{
    width: 100%;
}

.nav-links li{
    list-style: none;
}

.threelines {
    display: none;
    cursor: pointer;
}

.threelines div{
    width: 25px;
    height: 3px;
    background-color: rgb(143, 141, 141);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1450px) {
    .shadow{
        
        border: 16.1px;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 25%;
        transform: translateX(100%);
        transform: translateY(all);
        box-shadow: -15px 0px 10px -15px rgb(97, 97, 97); 
    }
    .nav-links li{
        opacity: 0;
    }
    .threelines{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px) 
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Parallax */
.marginbottom{
    margin: 95% 0;
    
}
.parallax{
    background: url("Images/Parralax2.svg") repeat fixed 100% ;
    background-color: #ffffff;
    background-size: cover;
}
.parallax-inner{

    padding-top: 15%;
    padding-bottom: 6.5%;
    /* GoldenerSchnitt */
}