/* Shortcuts

Ctrl+K Ctrl+0   Fold All
Ctrl+K Ctrl+J   Unfold All
Ctrl+Shift+?    Fold One
Ctrl+Shift+´    Unfold One */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    --main-color: rgb(86, 86, 86);
    --main2-color: rgb(17, 85, 89);

    --hyp-color: rgb(49, 71, 72);
    --icon-color: rgb(74, 70, 70);

    --background-color: rgb(237, 237, 237);
    --element-color: rgb(255, 255, 255);
    --alt-color: rgb(255, 179, 0);
    --alt2-color: rgb(26, 133, 210);
    --alt3-color: rgb(137, 83, 25);


    background-color: var(--background-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

/*Properties*/

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    text-align: center;
    margin: 16.1px;
}
.transshadow{
    filter: drop-shadow(0px 30px 30px rgb(0 0 0 / 0.4));
}
.center{
    text-align: center;
    align-items: center;
    width: 100%;
}
.segment{
    margin: 3rem;
}
.hidden{
    display: none;
}
.hyperlink{
    text-decoration: none;
    color: var(--main2-color);
}
.hyperlink:hover {
    filter: drop-shadow(0px 1px 1px var(--hyp-color)); 
    transition: all 0.1s ease-in;
}
.left{
    text-align: left;
    align-items: left;
}
.right{
    text-align: right;
    align-items: right;
}


/*HTML Elemente*/

h1{
    font-family: 'Indie Flower', cursive;
    letter-spacing: 1.681px;
    font-size: xx-large;
    margin: 0px;
    padding-bottom: 0.875em;
    color: var(--main-color);
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 0.8px;
    word-spacing: 4.4px;
    color:  var(--alt-color);
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: large;
    text-transform: none;
    text-shadow:0px 0.5px 0.5px var(--alt2-color);
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;;
    letter-spacing: 1.68px;
    word-spacing: 4.4px;
    color:  var(--main2-color);
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: large;
    text-transform: none;
}
h5{
    font-family: 'Poppins', sans-serif;
    margin: 2rm;
    font-size: 16px;
    letter-spacing: 0.8px;
    word-spacing: 4.4px;
    color:  var(--alt3-color);
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: large;
    text-transform: none;
    
}
p{
    font-size: 1.1rem;
}   
button {
    cursor: pointer;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--element-color);
    padding: 10px;
}
button:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
    border-style: dotted;
    transition: all 0.168s ease-in-out;

}
.outer-container{
    display: flex;  
    flex-direction: row;
}
.container12{
    width: 1/2%;
}
.container22{
    width: 1/2%;
}

/* Nav Bar */

.navpadding{
    padding-top: 10vh;
}
nav{
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: var(--element-color);
    font-family: 'Poppins', sans-serif;
    display: flex;  
    box-shadow: 0px 15px 10px -15px rgb(97, 97, 97);    
    z-index: 1;
}
.logo{
    color: rgb(118, 118, 118);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: larger;  
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links a{
    color: rgb(118, 118, 118);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a[current="page"]{
    text-decoration: underline var(--main-color) 0.168rem;
    text-transform: uppercase;
    text-underline-offset: 0.6rem;
}
.nav-links a:hover{
    color: rgb(187, 187, 187); 
    font-weight: lighter;
}
.nav-links a::before{
    content: '';
    display: block;
    height: 3px;
    background-color: rgb(175, 175, 175);

    position: center   ;
    width: 0%;

    transition: all ease-in 161ms;
    /* Goldener Schnitt */

}
.nav-links a:hover::before{
    width: 100%;
}
.nav-links li{
    list-style: none;
}
.threelines {
    display: none;
    cursor: pointer;
}
.threelines div{
    width: 25px;
    height: 3px;
    background-color: rgb(143, 141, 141);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 1450px) {
    .shadow{
        
        border: 16.1px;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 25%;
        transform: translateX(100%);
        transform: translateY(all);
        box-shadow: -15px 0px 10px -15px rgb(97, 97, 97); 
    }
    .nav-links li{
        opacity: 0;
    }
    .threelines{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px) 
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Parallax */

.parallax{
    background: url("Images/Parralax2.svg") repeat fixed 100% ;
    background-color: var(--background-color);
    background-size: cover;
}
.parallax-inner{

    padding-top: 6.8%;
    padding-bottom: 6.8%;
    /* GoldenerSchnitt */
}
.parallax img:hover{
    width: 17%;
    filter: drop-shadow(0px 30px 30px rgb(0 0 0 / 0.4));
    transition: all 0.5s ease-in-out;

}

/* Oval Banner */

.halfcircle {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1900' height='150' viewBox='0 0 1900 150' preserveAspectRatio='none'%3E%3Cpath d='M0,25.7C243.4,84,596.7,150,950,150c353.3,0,706.6-66,950-124.3V150H0V25.7z' fill='rgb(237, 237, 237)'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-position: center;
    bottom: 6.18rem;
    content: '';
    height: 6.18rem;
    left: 0;
    position: relative;
    width: 100%;
}
.halfcircle2{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1900' height='150' viewBox='0 0 1900 150' preserveAspectRatio='none'%3E%3Cpath d='M0,25.7C243.4,84,596.7,150,950,150c353.3,0,706.6-66,950-124.3V150H0V25.7z' fill='rgb(237, 237, 237)'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-position: center;
    bottom: -6.18rem;
    content: '';
    height: 6.18rem;
    left: 0;
    position: relative;
    width: 100%;
    transform: scaleY(-1);
}

/* Block1 */

.block1{
    position: relative;
}

/* Block2 */

.block2{
    position: relative;
    
}
.inner{
    margin-right: 13rem;  
    margin-left: 13rem;
}
.block2 ol img{
    text-align: right;
    box-shadow: 12ex;
}

/* Footer */

footer{
    background: var(--element-color);
    height: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    color: var(--main-color);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h1{
    font-size: 1.68rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0  3rem 0;
}
.socials li{
    margin: 16.8px;
}
.socials a{
    text-decoration: none;
    color: var(--icon-color)
}
.socials a i{
    font-size: 3rem;
    transition: color 0.5s ease;
}
.socials i:hover{
    transform: scaleX(0.67);
    transition: 0.3s;
}
.footer-bottom{
    background: var(--element-color);
    width: 100%;
    padding: 10px ;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 200;
}
/* Margin Bottom */

.marginbottom{
    margin: 95% 0;
}

/* Search Bar (Name) */
.formname input[type=text] {
    padding: 16.8px;
    font-size: 17px;
    border: 1px solid var(--icon-color);
    width: 30%;
    background: var(--element-color);
}
.formname button {
    width: 14%;
    padding: 13.8px;
    background: var(--hyp-color);
    color: var(--element-color);
    font-size: 17px;
    border: 1px solid var(--icon-color);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
.example::after {
    content: "";
    clear: both;
    display: table;
  }
